/* font-family: "Pacifico", cursive;*/
/* font-family: "Righteous", sans-serif;*/
/* font-family: "PT Sans Caption", sans-serif;*/

body,nav {
    background-color: black;
    font-family: 'Titillium Web', sans-serif;
}
svg {
    position: absolute;
    width: 120px;
    z-index: -1;
}
.sv1{
    top: 50%;
    left: 25%;
}
.sv2{
    top: 40%;
    left: 65%;
}
.sv3{
    top: 20%;
    left: 25%;
}
.sv4{
    top: 70%;
    left: 65%;
}

h1 {
    color: #198754;
}

.Form {
    background-color: black;
    box-shadow: -5px 2px 54px -9px rgba(0, 0, 0, 1);
    width: 400px !important;
    box-shadow: 0px 20px 60px #198754;
     border-radius: 10px;
}
.Form-nav{
    box-shadow: 0px 20px 60px #198754;
}

input {
    background-color: transparent !important;
    color: #198754 !important;
    padding: 10px 10px !important;

}

input::placeholder{
    color:#198754 !important;
}

input:focus{
    box-shadow: 2px 2px 10px 1px  #00ff8080 !important;
}

.button {
 --color: #198754;
 background-color: transparent;
 border-radius: .3em;
 position: relative;
 overflow: hidden;
 cursor: pointer;
 transition: .5s;
 font-weight: 400;
 font-size: 17px;
 border: 1px solid;
 font-family: inherit;
 text-transform: uppercase;
 color: var(--color);
 z-index: 1;
}

.button::before, .button::after {
 content: '';
 display: block;
 width: 50px;
 height: 50px;
 transform: translate(-50%, -50%);
 position: absolute;
 border-radius: 50%;
 z-index: -1;
 background-color: var(--color);
 transition: 1s ease;
}

.button::before {
 top: -1em;
 left: -1em;
}

.button::after {
 left: calc(100% + 1em);
 top: calc(100% + 1em);
}

.button:hover::before, .button:hover::after {
 height: 410px;
 width: 410px;
}

.button:hover {
 color: rgb(10, 25, 30);
}

.button:active {
 filter: brightness(.8);
}
